@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background-color: rgb(241, 241, 241);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
/* COMMON LAYOUT STYLES */
.clearfix{
    clear: both;
}
.container{
    max-width: 1000px;
    min-width: 600px;
    margin: auto;
}
aside, main{
    float: left;
}
aside, main > *{
    box-shadow: 0px 0px 10px rgb(153, 153, 153);
    background-color: white;
}
aside{
    width: 38%;
    margin-right: 2%;
}
main{
    width: 60%;
}
i{
    margin-right: 15px;
    color: rgb(84, 119, 196);
    font-size: 1.3em;
}
h1, h2, h4{
    color: rgb(87, 87, 87);
    margin-bottom: 1em;
}

/* ASIDE STYLES */
/* profile picture */
.profile-picture{
    position: relative;
}
aside img{
    display: block;
    width: 100%;
}
.name{
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 1.5em;
    color: white;
    font-weight: bold;
}

/* CONTENT section */
/* common info block */
.content{
    font-size: 0.8em;
    color:rgb(63, 63, 63);
    padding: 10px 20px;
}
.common-info .row{
    margin-bottom: 1.5em;
}
.common-info{
    border-bottom: 1px solid rgb(235, 235, 235);
}
/* block styles */
.block{
    margin-top: 2em;
}
.block i{
    font-size: 1em;
}
.skills{
    margin-top: 1.5em;
}
.skill span{
    display: inline-block;
    margin-bottom: 1em;
}
.skill{
    margin-bottom: 1em;
}
/* range styles */
.range, .value{
    border-radius: 10px;
    background-color: rgb(233, 233, 233);
}
.value{
    text-align: center;
    background-color: rgb(84, 119, 196);
    color: white;
}
.lang .value{
    height: 1.5em;
}

/* MAIN SECTION STYLES */
main .main-block{
    padding: 1.5em;
}
.main-block + .main-block{
    margin-top: 3%;
}
.main-block i{
    font-size: 1em;
}
/* list styles */
.list h4{
    font-weight: bold;
}
.list-row .date{
    font-size: 0.9em;
    color: rgb(84, 119, 196);
}
.list-row + .list-row{
    border-top: 1px solid rgb(235, 235, 235);
    padding-top: 1.5em;
}
.date .current{
    padding: 2px 4px;
    background-color: rgb(84, 119, 196);
    color: white;
    border-radius: 3px;
}
.list-row .content{
    padding: 1em 0;
}

/* FOOTER STYLES */
footer{
    font-size: 0.7em;
    text-align: center;
    color: white;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(84, 119, 196);
}
footer p{
    margin: 10px 0;
}
footer i{
    font-size: inherit;
    color: inherit;
}
footer a{
    text-decoration: none;
    color: inherit;
}